footer {
  background-color: #222831;
  padding: 24px 0 !important;
}
.foot-con {
  display: flex;
  justify-content: space-between;
}

.copyright {
  color: #9ca0ad;
}
.links {
  display: flex;
  & > div {
    background-color: #393e46;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 32px;
    margin-left: 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    & > i {
      font-size: 20px;
    }
  }
  & > div:nth-child(3n):hover {
    background-color: #eee;
  }
  & > div:nth-child(3n-1):hover {
    background-color: #20b767;
  }
  & > div:nth-child(3n-2):hover {
    background-color: #3d93e0;
  }
}
