.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

// 单行省略
.textClip {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 20px -5px rgba(158, 158, 158, 0.2);
}
